@import "tailwindcss" source("../components/");

@utility container {
    max-width: 58rem;
    margin: 0 auto;

}
@layer base {
    :root {
        --color-primary: 24.6 95% 53.1%;
    }

    .dark {
        --color-primary: 20.5 90.2% 48.2%;
    }
}